
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header{
  display: flex;
  justify-content: left;
  padding: 2rem;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.formInput {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #a6a5b5;
  font-size: 1.5rem;
	margin: 0 auto;
  border-radius: 0.2rem;
  border: none; 
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  padding-top: 0%;
}
.inputBox{
    height: 40px;
    border-radius: 15px;
    display: block; 
    width: 50vh;
}

.inputBox:hover{
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.button{
  align-items: center;
  appearance: none;
  background-color: #ededed;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #979ee7;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
  left: 120px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

